<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="请输入名字" v-model="keyWord"> 
        <ul>
            <li v-for="(p, index) of filPersons" :key="index">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
        
    </div>

    <script type="text/javascript">
        // 用监听属性实现
        /* const vm = new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001',name:'马东媒',age:18,sex:'male'},
                    {id:'002',name:'周东雨',age:19,sex:'female'},
                    {id:'003',name:'周杰伦',age:20,sex:'male'},
                    {id:'004',name:'艾伦',age:20,sex:'female'}
                ],
                keyWord:'',
                filPersons:[]
            },
            watch:{
                keyWord:{
                    immediate:true, 
                    handler(newValue) {
                        this.filPersons = this.persons.filter((p)=>{
                            return p.name.indexOf(newValue) != -1
                        })
                    }
                }
            }
        }) */
        // 用计算属性实现
        const vm = new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001',name:'马东媒',age:18,sex:'male'},
                    {id:'002',name:'周东雨',age:19,sex:'female'},
                    {id:'003',name:'周杰伦',age:20,sex:'male'},
                    {id:'004',name:'艾伦',age:20,sex:'female'}
                ],
                keyWord:''
            },
            computed:{
                filPersons(){
                    return this.persons.filter((p)=>{
                            return p.name.indexOf(this.keyWord) != -1
                        })
                }
            }

        })
    </script>
</body>
</html>