<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <button @click="sortType=2">年龄升序</button>
        <button @click="sortType=1">年龄降序</button>
        <button @click="sortType=0">原顺序</button>
        <ul>
            <li v-for="(p, index) of filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        const vm = new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001',name:'马东媒',age:88,sex:'male'},
                    {id:'002',name:'周东雨',age:19,sex:'female'},
                    {id:'003',name:'周杰伦',age:99,sex:'male'},
                    {id:'004',name:'艾伦',age:20,sex:'female'}
                ],
                keyWord:'',
                sortType:0, // 0原顺序 1降序 2升序
            },
            computed:{
                filPersons(){
                    const tempArr = this.persons.filter((p)=>{
                            return p.name.indexOf(this.keyWord) != -1
                        })
                    if (this.sortType) {
                        tempArr.sort((p1, p2)=>{
                            return this.sortType == 1 ? p2.age-p1.age : p1.age-p2.age
                        })
                    }
                    return tempArr
                }
            }

        })
    </script>

</body>

</html>